body{
	margin:0px;
	padding:0px;
	font-family:sans-serif
}
.menu{
	background:white;
	display:flex;
	height:100%;
	margin:30px 60px;
}
.logo{
	width:50px;
	height:50px;
	background:black;
	border-radius:50%;s 	
	display:flex;
}
.menu-line li{
	display:inline;
}
.menu-line li a{
	text-decoration:none;
	font-size:20px;
	margin-left:22px;
	color:black;
	font-weight:500;
	
}
.content-body{
	margin:90px 60px;
	display:flex;
}
.btn-dark{
	background: black;
    color: white;
    padding: 10px 30px;
    letter-spacing: 0.5;
    letter-spacing: 0.5 !important;
    border-radius: 5px;
}